# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Environment Variables
.env

# SQLite
db.sqlite3

# Django
media/
staticfiles/

# VSCode
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db